.index{
    background-color: darkgray;
    display: grid;
    grid-template-areas: 'gheader'
    'gmain' 'gfooter';
}
.aboutme{
    display: inline-grid;
    justify-content: center;
}
article{
    border:solid 5px darkred;
    margin:25px;
    padding:15px;
    border-radius: 15px;
}

/*Detailpaginas*/
.paside{
    justify-content: center;
    grid-area: gpaside;
}
.scrum{
    max-width: 90%;
}
.detailindex{
    background-color: darkgray;
    display: grid;
    grid-template-areas: 'gheader gheader'
    'gpaside gmain' 'gfooter gfooter';
}
@media screen and (max-width: 1000px){
    .detailindex{
        grid-template-areas: 'gheader' 'gmain' 'gpaside' 'gfooter';
    }
}

